@font-face {
    font-family: "norse";
    src: url(./fonts/Norse-Bold.otf);
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Regular.ttf);
}

/* reset defaults */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.content {
    display: flex;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
    background-color: #F9FAFB;
    gap: 10px;
}

.logo-section {
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: 40%;
    width: min(35vw, 700px);
    min-width: 325px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 10px;

    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 60%);
    margin-top: 200px;
    padding: 15px;
}

.logo > img {
    height: 150px;
}

.logo-text {
    font-family: "norse", sans-serif;
    color: white;
    font-size: 6.5rem;
    letter-spacing: 3px;
}

.credit a:link, .credit a:visited {
    color: white;
}

.credit {
    margin-bottom: 20px;
    color: white;
    align-self: center;
    font-size: 0.9rem;
}

.form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - min(35vw, 700px));
}

.info span {
    font-style: italic;
}

.info {
    font-size: 1.5rem;
    margin: 40px;
    margin-bottom: 60px;
    width: 100%
}

.info > p {
    max-width: 700px;
}

.form-box {
    font-size: 1.5rem;
    background-color: white;
    padding: 25px 40px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 10%);
}

.row {
    display: flex;
    justify-content: space-around;
}

.input {
    font-size: 1rem;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.input > label {
    display: block;
    margin-bottom: 5px;
}

.input > input {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    height: 30px;
    margin-right: 40px;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    padding-left: 10px;
}

.button-div button {
    margin: 35px 70px 30px 70px;
    padding: 15px 45px;
    color: white;
    font-size: 1rem;
    background-color: #596D48;
    border: none;
    border-radius: 6px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 25%);
    cursor: pointer;
}

.log-in {
    margin-left: 60px;
}

.log-in p {
    display: inline;
}

.log-in a {
    color:#596D48;
    text-decoration: none;
}

@media only screen and (max-width: 1150px){
    .content {
        display: flex;
        flex-direction: column;
    }
    .logo-section {
        width: 100vw;
        height: 20%;
        display: flex;
        justify-content: center;
    }
    .logo{
        margin-top: 0;
    }
    .logo img {
        height: min(150px, 15vh);
    }
    .credit {
        display: none;
    }

    .form-section {
        width: 100vw;
    }

    .form-box {
        display: flex;
        flex-direction: column;
    }
    .input input {
        margin-right: 0;
        margin-left: 0;
    }
    .info p {
        width: 80vw;
    }
    .button-div, .log-in {
        display: flex;
        justify-content: center;
        margin-left: -5px;
        margin-bottom: 0px;
    }
    .log-in {
        gap: 8px;
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 400px) {

}